html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: #fff;
}

header#main-header, footer#main-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav ul, footer#main-footer nav ul {
  display: flex;
  list-style-type: none;
}

header#main-header nav ul li a, footer#main-footer nav ul li a {
  padding: 3px 8px;
  margin: 0 3px;
  text-decoration: none;
  color: --primary-color;
}

header nav ul li a:hover, footer#main-footer nav ul li a:hover {
  padding: 3px 8px;
  margin: 0 3px;
  border-bottom: --secondary-color;
}

main#main-body.container {
  max-width: 980px;
}